<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908150475649-ul3rk2oe98dh77lcpp14tm8ufd15tdk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908150475649-ul3rk2oe98dh77lcpp14tm8ufd15tdk9</string>
	<key>API_KEY</key>
	<string>AIzaSyCInVqcaJZ-guv3-kRldUDUMXhBnrsckSo</string>
	<key>GCM_SENDER_ID</key>
	<string>908150475649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iowncode.iOSMLKitNLP</string>
	<key>PROJECT_ID</key>
	<string>iosmlkitnlp</string>
	<key>STORAGE_BUCKET</key>
	<string>iosmlkitnlp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908150475649:ios:7b31bdecdccd9606233680</string>
	<key>DATABASE_URL</key>
	<string>https://iosmlkitnlp.firebaseio.com</string>
</dict>
</plist>